Package: com.levi.cythruterm
Name: Cydia through Terminal
Version: 1.3
Architecture: iphoneos-arm
Depiction: http://repo.insanelyi.com/depiction.php?package=cythruterm
Description: CythruTerm - Open Cydia through terminal to home, packages, or sources
Depends: com.ericasadun.utilities
Homepage: http://getagripon.com/tillie
Author: Levi Tillie <levi.tillie3@gmail.com>
Sponsor: Levi Tillie <http://getagripon.com/tillie>
Section: lScripts
Maintainer: Levi Tillie <levi.tillie3@gmail.com>

